footer
  .container
    .footer-body
      .footer-body-column
        .footer__text © PrimeOne Catering 2014. Terms & Conditions
      .footer-body-column
         a(href=" " class="footer-logo")
           img(src="../assets/img/logo.png" alt="")