header
  .container
     .header-top
       .header-top-lang
          a(class="header-top-lang_item" href="") EN
          |
          |
          a(class="header-top-lang_item" href="") RU
          |
          |
          a(class="header-top-lang_item" href="") ESP
       a(class="header-top_link" href="") Online ordering
     .header-botton
       .header-botton_colunm
         .header-botton-nemu
            .header-botton-nemu-list
              ul
                li
                  a(class="header-botton-nemu_link" href="") ABOUT
                li
                  a(class="header-botton-nemu_link" href="") Menus
                li
                  a(class="header-botton-nemu_link" href="") Service info
       .header-botton_colunm
          .header-logo
            span.header-logo_text NVC's
            span.header-logo_image
              img(src="../assets/img/logo.png" alt="")
            span.header-logo_text Catering
       .header-botton_colunm
         .header-botton-nemu-list
              ul
                li
                  a(class="header-botton-nemu_link" href="") ABOUT
                li
                  a(class="header-botton-nemu_link" href="") Menus
                li
                  a(class="header-botton-nemu_link" href="") Service info 