header
  .container
    .header-top
      .header-top-lang
        a(class="header-top-lang__item" class=['active'] href="") EN
          |
          |
        a(class="header-top-lang__item" href="") RU
          |
          |
        a(class="header-top-lang__item" href="") ESP
      a(class="header-top__link" href="") Online ordering
    .header-bottom
      .header-bottom__column
         nav.header-bottom-menu
           ul.header-bottom-menu-list
             li
               a(class="header-bottom-menu__link" href="") ABOUT
             li
               a(class="header-bottom-menu__link" href="") Menus
             li
               a(class="header-bottom-menu__link" href="") Service info
      .header-bottom__column
          .header-logo
            span.header-logo__text NVC's
            span.header-logo__image
              img(src="../assets/img/logo.png" alt="")
            span.header-logo__text Catering
      .header-bottom__column
         nav.header-bottom-menu(class="header-bottom-menu--right")
           ul.header-bottom-menu-list
             li
               a(class="header-bottom-menu__link" href="") Gallery
             li
               a(class="header-bottom-menu__link" href="") Friends
             li
               a(class="header-bottom-menu__link" href="") Contact 
    .header-menu__icon
        span
        span
        span
    .header-menu