include ../utils/mixins
block variables
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    meta(name="description", content=description)
    block head

  body
    .wrapper
       include ../includes/modules/header
       //- .content
       //-   .private
       //-     .private__column
       //-       .private__image(class="ibg")
       //-         img(src="../assets/img/private/01.jpg")
       //-     .private__column
       //-       .private__body
       //-         .private__body-content
       //-           .private__body__title Private catering
       //-           .private__body__text Treat your guests to a beautifully plated dinner, hand-crafted canapes or a casual BBQ.
       //-           .private__body__bottons
       //-             a(class="private__body__bottons__items" class=["btn"] class=["btn--w"] href="") Get a quote
       //-             a(class="private__body__bottons__link" href="") View menus
            
       //- block content
      
      
      
       //- include ../includes/modules/footer
       //- block script