include ../utils/mixins
block variables
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    meta(name="description", content=description)
    block head

  body
    .wrapper
      include ../includes/modules/header
      .content
        .private
          .private__column
            .private__image(class="ibg")
              img(src="../assets/img/private/01.jpg")
          .private__column
            .private__body
              .private__body-content
                .private__body__title Private catering
                .private__body__text Treat your guests to a beautifully plated dinner, hand-crafted canapes or a casual BBQ.
                .private__body__bottons
                  a(class="private__body__bottons__items" class=["btn"] class=["btn--w"] href="") Get a quote
                  a(class="private__body__bottons__link" href="") View menus
            
                  //- block content
      
      
      
                //- include ../includes/modules/footer
              //- block script
        .products
          .container
            .products-body
              .products__column
                .products-item
                  |
                  a(class="products-item__image" class=['ibg'] href=""): img(src="../assets/img/products/01.jpg" alt="")
                  |
                  |
                  a(class="products-item__title" href="") Corporate catering
                  .products-item__text We are able to serve events from 2 to 2000 guests and always reasonable prices.
                  p
                    a(class="products-item__btn" class=['btn'] href="") Get a quote
                  p
                   a(class="products-item__link" href="") View menus
              .products__column
                .products-item
                  |
                  a(class="products-item__image" class=['ibg'] href=""): img(src="../assets/img/products/02.jpg" alt="")
                  |
                  |
                  a(class="products-item__title" href="") Private catering
                  .products-item__text Fresh, seasonal and simple cuisine. Food is our business and our passion.
                  p
                    a(class="products-item__btn" class=['btn'] href="") Get a quote                  
                  p
                    a(class="products-item__link" href="") View menus
              .products__column
                .products-item
                  |
                  a(class="products-item__image" class=['ibg'] href=""): img(src="../assets/img/products/03.jpg" alt="")
                  |
                  |
                  a(class="products-item__title" href="") Wedding catering
                  .products-item__text We use only the best organic ingredients and gluten and dairy free cooking.
                  p
                    a(class="products-item__btn" class=['btn'] href="") Get a quote
                  p
                    a(class="products-item__link" href="") View menus
              .products__column
                .products-item
                  |
                  a(class="products-item__image" class=['ibg'] href=""): img(src="../assets/img/products/04.jpg" alt="")
                  |
                  |
                  a(class="products-item__title" href="") Online Ordering
                  .products-item__text Successful catering is about organisation, high quality service, and great food.
                  p 
                    a(class="products-item__btn" class=['btn'] href="") Get a quote
                  p
                    a(class="products-item__link" href="") View menus
        .why
          .why-top
            .why-top__column
              .why-top__text Why CHOOSE us?
            .why-top__column
              .why-top__image(class=['ibg'])
                img(src="../assets/img/why/01.jpg" alt="")
          .why-body
            .container
              .why-body__row
                .why-body__column
                  .why-body-item
                    .why-body-item__icon
                      img(src="../assets/img/why/icons/01.svg" alt="")
                    .why-body-item-body
                      .why-body-item-body__title Always fresh
                      .why-body-item-body__text Fresh, seasonal and simple cuisine. Food is our business and our passion.
                .why-body__column
                  .why-body-item
                    .why-body-item__icon
                      img(src="../assets/img/why/icons/02.svg" alt="")
                    .why-body-item-body
                      .why-body-item-body__title Clean and Healthy
                      .why-body-item-body__text We use only the best organic ingredients and gluten and dairy f


                .why-body__column
                  .why-body-item
                    .why-body-item__icon
                      img(src="../assets/img/why/icons/03.svg" alt="")
                    .why-body-item-body
                      .why-body-item-body__title Reliable AND Flawless
                      .why-body-item-body__text Successful catering is about organisation, high quality servicesion.
                .why-body__column
                  .why-body-item
                    .why-body-item__icon
                      img(src="../assets/img/why/icons/04.svg" alt="")
                    .why-body-item-body
                      .why-body-item-body__title fits any size and budget
                      .why-body-item-body__text We are able to serve events from 2 to 2000 guests and always at reasonable prices.
        .contacts
          .contacts-top
            .container
              .contacts-title Say hello
              .contacts-body
                .contacts-body__column
                  .contacts-body__item(class="contacts-body__item--1") 45-35 #B 39th St, Sunnyside, NY 11104
                .contacts-body__column
                  a(href="mailto:contact@primeone.com" class="contacts-body__item" class=["contacts-body__item--2"]) contact@primeone
                .contacts-body__column
                  a(href="tel:7187777777" class="contacts-body__item" class=["contacts-body__item--3"]) (718) 777-7777
                .contacts-body__column
                  .contacts-social
                    |
                    a( href="" class="contacts-social__item" class=["contacts-social__item--1"]): img(src="../assets/img/icons/social/01.png" alt="" )
                    |
                    |
                    a( href="" class="contacts-social__item" class=["contacts-social__item--2"]): img(src="../assets/img/icons/social/02.png" alt="" )
                    |
                    |
                    a( href="" class="contacts-social__item" class=["contacts-social__item--3"]): img(src="../assets/img/icons/social/03.png" alt="" )
                    |
                    |
                    a( href="" class="contacts-social__item" class=["contacts-social__item--4"]): img(src="../assets/img/icons/social/04.png" alt="" )
          .contacts-content
            .contacts-content__column
              #map(class="contacts-content__map")
            .contacts-content__column
              .contacts-content-form
                .contacts-content-form__title Get in touch
                  form(action="#" class="contacts-content-form-body")
                .contacts-content-form-line
                  input(autocomplete="off" type="text" name="form[]" data-value="Name" class="input req")
                .contacts-content-form-line
                  input(autocomplete="off" type="text" name="form[]" data-value="E-mail or phone number" class="input")
                .contacts-content-form-line
                  textarea(autocomplete="off" name="form[]" data-value="Your message" class="input req")
                .contacts-content-form-button
                  button(type="submit" class="contacts-content-form__btn" class=["btn", "btn--w"]) Send message
      include ../includes/modules/footer
    script(src="https://maps.google.com/maps/api/js?sensor=false&amp;key=")